@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(250deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)), url("./../../../assets/img17.jpg");
  filter: brightness(1.2);
  background-size: cover;
  height: 100vh;
  font-family: Arial, Georgia, "Times New Roman", Times, serif;
  height: 100vh;
}

a {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.flex {
  display: flex;
}

.column {
  display: flex;
  flex-direction: column;
}

.noscroll {
  overflow: hidden; /*pr empècher le scroll lorsque nav en column*/
}

.activeLink {
  color: #f28b76;
}

header {
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
  height: 70px;
  width: 100%;
  top: 0;
  /*fixe header en haut sans masquer le texte en-dessous */
  z-index: 1; /*priorise le header pour ne pas le masquer*/
}
@media only screen and (max-width: 830px) {
  header {
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.8));
    position: sticky;
    top: 0;
    z-index: 1;
  }
}

/*travail pr agrandir ombre en de-ss du header en JS*/
.shadowheader {
  box-shadow: 1px 8px 7px 2px rgba(255, 81, 0, 0.168627451);
}

header a {
  color: white;
  text-decoration: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.logo {
  height: 100%;
  display: flex; /*met en row (rangée) la liste (par défaut en column*/
  align-items: center;
  font-size: clamp(1rem, 5vw, 3rem); /*clamp pour responsive*/
  padding-left: 5px;
}

.logo a {
  transition: color 0.5s; /*action au passage de la souris*/
}

.logo a:hover {
  color: rgb(192, 127, 6);
}

.nav_ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav_ul a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 120px;
  font-size: 1.4rem;
  font-weight: 400;
}
@media only screen and (max-width: 830px) {
  .nav_ul a {
    font-size: 1.1rem;
  }
}

.nav_ul a:hover {
  border-radius: 10px;
}

.navbar_item {
  display: block;
  padding: 0px 30px 0 30px;
  width: 150px;
  line-height: 70px;
}
@media only screen and (max-width: 830px) {
  .navbar_item {
    line-height: 45px;
  }
}

.hamburger { /*création du burger*/
  display: none; /*disparition du burger sur ecran>800px*/
  flex-direction: column; /*flex-dir par défaut en row*/
  justify-content: center;
  cursor: pointer; /*fait apparaître le pointeur*/
  padding: 5px;
  margin-left: 15px;
}

.bar1, .bar2, .bar3 { /*barres du hamburger*/
  width: 35px;
  height: 4px;
  background-color: white;
  border-radius: 5px; /* bord arrondi */
}

.bar2, .bar3 {
  margin-top: 6px; /*marge sur 2 et 3eme bar*/
}

.open .bar1,
.open .bar2,
.open .bar3 {
  transition: all 0.3s; /* transition changement de couleur*/
}

.open .bar1 {
  transform: translateY(245%) rotate(-45deg);
}

.open .bar3 {
  transform: translateY(-245%) rotate(45deg);
}

.open .bar2 {
  transform: rotate(-45deg);
  opacity: 0;
}

@media (max-width: 800px) { /*responsive lorsq ecran<800px)*/
  .navbar {
    display: flex;
    justify-content: inherit;
  }
  .hamburger {
    display: flex;
  } /*faire apparaître le burger lorsq ecran<800px car sinon display est en none)*/
  .nav_ul {
    position: fixed;
    top: 60px;
    left: -85%; /*pour faire disparaître le nav*/
    /*effet arrière trouble*/
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
    width: 85%;
    height: 100%;
    flex-direction: column;
    transition: transform ease-out 0.3s; /*effet de transition, ease-in permet de commencer vite et de terminer doucement la transition ≠ ease-in*/
  }
  .nav_ul.navFormation {
    background: linear-gradient(280deg, rgba(58, 52, 52, 0.8), rgba(0, 0, 0, 0.9));
    background: linear-gradient(280deg, rgba(36, 32, 32, 0.8), rgba(0, 0, 0, 0.9));
  }
  .slide {
    transform: translateX(100%);
  }
  .nav_ul a {
    border-bottom: 1px solid rgba(251, 250, 247, 0.4);
    width: 80%;
    justify-content: left;
    padding: 5px;
  }
  .nav_ul a:hover {
    animation: none;
    border-radius: 0;
  }
}
.menu_li_link {
  padding-bottom: 5px;
  width: 220px;
}
.menu_li_link span {
  position: relative;
  height: 100%;
}
@media only screen and (max-width: 830px) {
  .menu_li_link span::after {
    display: none;
  }
}
.menu_li_link span::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transform: scaleX(0);
  transform-origin: center;
  transition: transform 0.2s ease;
}
.menu_li_link:hover span::after {
  transform: scaleX(1);
}

.activeLink.menu_li_link:hover span::after {
  background-color: #d68372;
}

.boxNomStar {
  display: flex;
  position: relative;
}

.li_contact {
  position: relative;
}
.li_contact span {
  z-index: 15;
}

#starContainer {
  position: absolute;
  z-index: 5;
  right: 60px;
  top: 30px;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#star {
  display: flex;
  flex-direction: column;
}

#half {
  display: flex;
}

.starQuarter {
  width: 40px;
  height: 40px;
  animation: animStarSize 4s ease-in-out infinite;
}

#topLeft {
  background: radial-gradient(ellipse at top left, transparent 70%, rgb(255, 255, 255) 100%);
}

#topRight {
  background: radial-gradient(ellipse at top right, transparent 70%, rgb(255, 255, 255) 100%);
}

#bottomLeft {
  background: radial-gradient(ellipse at bottom left, transparent 70%, rgb(255, 255, 255) 100%);
}

#bottomRight {
  background: radial-gradient(ellipse at bottom right, transparent 70%, rgb(253, 253, 230) 100%);
}

@keyframes animStarSize {
  0% {
    height: 40px;
    width: 40px;
  }
  25% {
    height: 60px;
    width: 50px;
  }
  50% {
    height: 40px;
    width: 40px;
  }
  75% {
    height: 50px;
    width: 60px;
  }
  100% {
    height: 40px;
    width: 40px;
  }
}
@media only screen and (max-width: 830px) {
  .menu_li_link span::after {
    display: none;
  }
}
.boite { /*capacité empeche le déformement*/
  height: 380px;
  padding-top: 15px;
}
@media only screen and (max-width: 1000px) {
  .boite {
    margin-top: 30px;
  }
}
@media only screen and (max-width: 550px) {
  .boite {
    height: 280px;
  }
}
@media only screen and (max-width: 550px) {
  .boite .skillcapacite {
    margin-bottom: 40px;
    padding: 10px 20px;
  }
}
.boite .skillcapacite .name {
  margin-left: 10px;
  margin-right: 15px;
}
@media only screen and (max-width: 550px) {
  .boite .skillcapacite .name span {
    font-size: 1rem;
    padding: 3px 3px 3px 3px;
    width: 120px;
  }
}

@media (max-width: 800px) { /*responsive lorsq ecran<800px)*/
  .identite {
    width: 100%;
    height: 100%;
    flex-direction: column;
    transition: transform ease-out 0.5s; /*effet de transition, ease-in permet de commencer vite et de terminer doucement la transition ≠ ease-in*/
    align-items: center;
  }
  .corps {
    width: 90%;
    height: 100%;
    flex-direction: column;
    transition: transform ease-out 0.5s; /*effet de transition, ease-in permet de commencer vite et de terminer doucement la transition ≠ ease-in*/
    align-items: center;
    padding: 2%;
    margin: 2%;
  }
  .skillcapacite {
    padding: 15px;
    margin-left: 10px;
  }
}
@media only screen and (max-width: 800px) and (max-width: 550px) {
  .skillcapacite {
    margin-left: 0;
  }
}
.capacite {
  display: flex;
  width: 50%;
  margin: 20px;
}
@media only screen and (max-width: 550px) {
  .capacite {
    margin: 20px 0;
  }
}

.skillcapacite::before {
  content: "Mes capacités";
  transform: rotate(-5deg);
  position: absolute;
  top: -30px;
  left: 70px;
  background-color: #c0c0c2;
  background-color: rgb(214, 131, 114);
  padding: 10px 25px;
  color: #fff;
}

.skillcapacite {
  display: flex;
  border: 2px, solid, black;
  padding: 20px 30px 20px 30px;
  border-radius: 30px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
}

.skillcapacite .name {
  display: flex;
  flex-direction: column;
  color: #37373a;
  color: #fff;
  font-size: 1.4em;
  font-weight: 400;
  margin-right: 30px;
}

.skillcapacite .name span {
  margin: 7px 0;
  box-shadow: 9.91px 9.91px 15px rgb(192, 127, 6), -9.91px -9.91px 15px rgb(192, 127, 6);
  box-shadow: 4.91px 4.91px 10px rgba(214, 131, 114, 0.8), -4.91px -4.91px 10px rgba(214, 131, 114, 0.8);
  padding: 10px 20px;
  text-align: center;
  border-radius: 50px;
  border: 5px solid #ebecf0;
  transition: 0.2s;
  cursor: pointer;
  width: 170px;
}

.skillcapacite .name span:hover {
  margin: 7px 0;
  box-shadow: 9.91px 9.91px 15px #d9dade, -9.91px -9.91px 15px #ffffff, inset 9.91px 9.91px 15px #d9dade, inset -9.91px -9.91px 15px #ffffff;
}

.niveau_capacite {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.niveau {
  width: 200px;
  height: 18px;
  border-radius: 20px;
  box-shadow: inset 6px 6px 6px #d9dade, inset -6px -6px 6px #ffffff;
}
@media only screen and (max-width: 550px) {
  .niveau {
    width: 140px;
    height: 15px;
  }
}

.niveau .progress {
  height: 100%;
  background: linear-gradient(to right, #9a989c, #4a484e);
  border-radius: 20px;
}

.niveau:nth-child(1) .progress {
  width: 90%;
}

.niveau:nth-child(2) .progress {
  width: 80%;
}

.niveau:nth-child(3) .progress {
  width: 80%;
}

.niveau:nth-child(4) .progress {
  width: 70%;
}

.niveau:nth-child(5) .progress {
  width: 90%;
}

.competence {
  color: whitesmoke;
  margin-left: 10px;
  padding-left: 40px;
}

.main_home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  height: 70vh;
}
.main_home .container {
  margin: auto;
  height: 455px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.main_home .wrapTitle {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main_home .wrapTitle.hidden {
  display: none;
}
.main_home .wrapTitle.marginTop {
  margin-top: 100px;
}
.main_home .presentation {
  margin: 10px 0 10px 0;
  font-weight: 400;
  text-shadow: 1px 1px #151718, 1px 1px #3c3d3f;
}
.main_home .presentation h1, .main_home .presentation p {
  margin: 0;
}
.main_home .text-3d {
  color: rgb(255, 255, 255);
  font-size: 2.6rem;
  line-height: 3.2rem;
}
@media only screen and (max-width: 550px) {
  .main_home .text-3d {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}
.main_home h1 {
  margin-bottom: 15px;
}
.main_home .text_web {
  font-size: 1.3rem;
  color: #d68372;
}
@media only screen and (max-width: 550px) {
  .main_home .text_web {
    font-size: 1.2rem;
  }
}
.main_home .box_photo {
  border-radius: 50%;
  border: 4px solid #333;
  border: 3px solid rgba(99, 96, 96, 0.6);
  overflow: hidden;
  height: 100px;
  width: 100px;
}
.main_home .box_photo.hiddenImg {
  display: none;
}
.main_home .box_photo img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.main_frozzen.frozzen {
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  filter: blur(10px);
}

#btn_home {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  text-align: center;
  display: block;
  text-decoration: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid #b6604f;
  border: 1px solid #ec8d7a;
  border: 1px solid #ef9785;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  margin: 15px auto 0;
  padding: 10px 15px;
  border-radius: 25px;
  width: 140px;
}
#btn_home:hover {
  background: linear-gradient(to left, rgba(214, 131, 114, 0.8) 0%, rgba(214, 131, 114, 0.8) 100%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  transform: translatey(1px);
}
#btn_home::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-45deg);
  left: -150px;
}
#btn_home:hover::before {
  transition: 0.8s transform linear;
  transform: translateX(500px) rotate(-45deg);
}
@media only screen and (max-width: 550px) {
  #btn_home {
    margin-top: 15px;
  }
}

.main_projets {
  color: #fff;
  text-align: center;
  scroll-behavior: smooth;
  /* Accueil  */
  /* Section asymétrique */
  /* Placement */
  /* Lignes verticales */
}
.main_projets .accueil {
  width: 80%;
  margin: 0 auto;
  height: auto;
  border-bottom: 1px dotted #777;
  padding-top: 1px;
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.6));
  border-bottom: 5px solid #615f55;
}
.main_projets .accueil h1 {
  text-align: center;
  font-size: 4rem;
  text-shadow: 0 0 10px #000;
  margin-top: 10px;
  font-family: Merienda one, sans-serif;
}
.main_projets .sous-titre {
  text-align: center;
  font-size: 1.4rem;
  font-weight: bold;
  margin: 5px 0;
  text-shadow: 0 0 10px #000;
}
@media screen and (max-width: 850px) {
  .main_projets .accueil {
    background-position: right;
  }
  .main_projets .logo-kyoto {
    margin: 120px auto 0;
  }
  .main_projets .accueil h1 {
    font-size: 3rem;
  }
  .main_projets .sous-titre {
    font-size: 1.2rem;
  }
  .main_projets .btn-accueil {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    margin: 15px auto 15px;
  }
}
@media screen and (max-width: 400px) {
  .main_projets .accueil h1 {
    font-size: 2rem;
  }
  .main_projets .sous-titre {
    font-size: 1rem;
  }
  .main_projets .btn-accueil {
    width: 130px;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
  }
}
.main_projets hr {
  color: #fff;
  margin: 0;
}
.main_projets .section-asymetrique {
  display: grid;
  grid-template: 140px repeat(6, auto) 10px/1fr 600px 1fr;
}
.main_projets .section-asymetrique2 {
  grid-template: 40px repeat(6, auto) 30px/1fr 600px 1fr;
}
.main_projets .section-asymetrique h2 {
  grid-area: 1/1/2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.main_projets .section-asymetrique .h2bis {
  grid-area: 1/1/2/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  padding-bottom: 20px;
}
.main_projets .img-grid img {
  height: 100%;
  object-fit: cover;
}
.main_projets .bloc-1,
.main_projets .img-grid-1 {
  grid-area: 2/2/3/3;
}
.main_projets .bloc-right,
.main_projets .img-grid-2 {
  grid-area: 3/2/4/3;
}
.main_projets .bloc-3,
.main_projets .img-grid-3 {
  grid-area: 4/2/5/3;
}
.main_projets .bloc {
  background: linear-gradient(to right, rgba(163, 97, 84, 0.9) 0%, rgb(214, 131, 114) 100%);
  background-color: #fff;
  background: linear-gradient(to right, rgba(177, 78, 59, 0.9) 0%, rgb(203, 100, 80) 100%);
  background: linear-gradient(to left, rgb(177, 78, 59) 0%, rgb(234, 127, 108) 100%);
  color: #fff;
  position: relative;
  border-radius: 2px;
  height: 750px;
  margin-bottom: 250px;
}
.main_projets .img-grid {
  width: 500px;
  height: 700px;
  object-fit: cover;
  position: relative;
}
.main_projets .img-grid-1,
.main_projets .img-grid-3 {
  top: 130px;
  left: 20px;
}
.main_projets .bloc-left {
  left: -300px;
}
.main_projets .bloc-txt-left {
  width: 50%;
  height: 100%;
}
.main_projets .bloc-txt-left h3 {
  white-space: nowrap;
  font-size: 35px;
  margin: 30px 15px;
  color: #fff;
}
.main_projets .bloc-txt-left p {
  line-height: 40px;
  padding: 15px;
}
.main_projets .bloc button {
  border-radius: 9999px;
  outline: none;
  border: none;
  background: crimson;
  background: rgba(200, 23, 23, 0.8);
  border: 1px solid rgba(236, 80, 49, 0.8);
  background: linear-gradient(to left, rgba(214, 131, 114, 0.8) 0%, rgba(214, 131, 114, 0.8) 100%);
  background: linear-gradient(to right, rgba(230, 139, 121, 0.8) 0%, rgba(247, 122, 105, 0.8) 100%);
  color: #f1f1f1;
  padding: 20px 35px;
  font-size: 20px;
  margin: 35px auto;
  cursor: pointer;
  display: block;
  position: relative;
  overflow: hidden;
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.8);
}
.main_projets .bloc button:hover {
  background: linear-gradient(to left, rgba(235, 122, 100, 0.9) 0%, rgba(211, 101, 79, 0.9) 100%);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
  transform: translatey(1px);
}
.main_projets .bloc button::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-45deg);
  left: -150px;
}
.main_projets .bloc button:hover::before {
  transition: 0.8s transform linear;
  transform: translateX(500px) rotate(-45deg);
}
.main_projets .bloc-right {
  right: -300px;
}
.main_projets .img-grid-2 {
  top: 130px;
  left: 100px;
}
.main_projets .bloc-txt-right {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}
.main_projets .bloc-txt-right h3 {
  position: relative;
  font-size: 35px;
  margin: 30px 15px;
}
.main_projets .bloc-txt-right p {
  line-height: 40px;
  padding: 15px;
}
.main_projets .bloc-txt-right button {
  margin: 5px auto;
}
.main_projets .ligne-gauche {
  grid-area: 1/2/-1/3;
  border-left: 3px solid #fff;
  border-left: 4px solid #5e5a4c;
}
.main_projets .ligne-droite {
  grid-area: 1/3/-1/4;
  border-left: 3px solid #fff;
  border-left: 4px solid #5e5a4c;
}
@media screen and (max-width: 1200px) {
  .main_projets .section-asymetrique {
    grid-template: 80px repeat(6, auto) 10px/1fr 600px 1fr;
  }
  .main_projets .section-asymetrique2 {
    grid-template: 40px repeat(6, auto) 30px/1fr 600px 1fr;
  }
  .main_projets .section-asymetrique h2 {
    font-size: 1.4rem;
    padding-bottom: 0px;
  }
  .main_projets .bloc-1 {
    grid-area: 2/2/3/3;
  }
  .main_projets .img-grid-1 {
    grid-area: 3/2/4/3;
  }
  .main_projets .bloc-right {
    grid-area: 4/2/5/3;
  }
  .main_projets .img-grid-2 {
    grid-area: 5/2/6/3;
  }
  .main_projets .bloc-3 {
    grid-area: 6/2/7/3;
  }
  .main_projets .img-grid-3 {
    grid-area: 7/2/8/3;
  }
  .main_projets .bloc {
    height: 100%;
    margin-bottom: 0px;
  }
  .main_projets .img-grid {
    position: static;
    width: 600px;
    height: 750px;
    perspective: 600px;
    perspective-origin: bottom 100px;
  }
  .main_projets .img-grid-1,
  .main_projets .img-grid-3 {
    top: 0px;
    left: 0px;
  }
  .main_projets .img-grid-2 {
    top: 0px;
    left: 0px;
  }
  .main_projets .bloc-left {
    left: 0px;
  }
  .main_projets .bloc-right {
    right: 0px;
  }
  .main_projets .bloc-txt-left {
    width: 100%;
    height: 100%;
  }
  .main_projets .bloc-txt-left h3,
  .main_projets .bloc-txt-right h3 {
    text-align: center;
  }
  .main_projets .bloc-txt-left p,
  .main_projets .bloc-txt-right p {
    font-size: 20px;
    line-height: 1.8;
    padding: 15px;
  }
  .main_projets .bloc button {
    font-size: 20px;
    padding: 15px 30px;
    margin-bottom: 30px;
  }
  .main_projets .bloc-txt-right {
    position: static;
    width: 100%;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .main_projets .section-asymetrique {
    grid-template: 120px repeat(6, auto) 1px/100%;
  }
  .main_projets .section-asymetrique2 {
    grid-template: 1px repeat(6, auto) 50px/100%;
  }
  .main_projets .ligne-gauche, .main_projets .ligne-droite {
    display: none;
  }
  .main_projets .section-asymetrique h2 {
    font-size: 1.2rem;
  }
  .main_projets .bloc,
  .main_projets .img-grid {
    grid-area: auto;
  }
  .main_projets .img-grid {
    width: 100%;
    height: 500px;
  }
  .main_projets .bloc-txt-left h3,
  .main_projets .bloc-txt-right h3 {
    font-size: 25px;
  }
  .main_projets .bloc-txt-right {
    width: 100%;
  }
}

.box_imgProjet {
  height: 100%;
  width: 100%;
  position: relative;
}

.img-grid {
  background: linear-gradient(to right, rgba(163, 97, 84, 0.6) 0%, rgba(214, 131, 114, 0.8) 100%);
  border: 5px solid rgb(122, 49, 35);
  border: 5px solid #DB8876;
  border: 4px solid #c2634e;
}
@media only screen and (max-width: 830px) {
  .img-grid {
    background: none;
    border: none;
  }
}

.bloc::after {
  content: "";
  background-color: #bab9b1;
  background-color: rgb(192, 119, 104);
  background-color: rgb(168, 101, 99);
  position: absolute;
  top: 13px;
  right: -20px;
  height: 100%;
  width: 20px;
  transform: skewy(50deg);
}
.bloc::before {
  content: "";
  background-color: #5e5a4c;
  background-color: rgb(120, 76, 67);
  position: absolute;
  bottom: -20px;
  left: 12px;
  height: 20px;
  width: 100%;
  transform: skewX(50deg);
}

@media only screen and (max-width: 830px) {
  .img-grid {
    background-color: transparent;
  }
  .bloc::after {
    display: none;
  }
  .bloc::before {
    display: none;
  }
}
#imgProjet4_2,
#imgProjet_2,
#imgProjet3_2,
#imgProjet7_2 {
  border-top: 1px solid rgb(117, 114, 114);
  border-left: 1px solid rgb(133, 131, 131);
  position: absolute;
  bottom: 0;
  right: 0;
}
@media only screen and (max-width: 830px) {
  #imgProjet4_2,
  #imgProjet_2,
  #imgProjet3_2,
  #imgProjet7_2 {
    right: 12px;
  }
}
#imgProjet4_2 img,
#imgProjet_2 img,
#imgProjet3_2 img,
#imgProjet7_2 img {
  width: 100%;
}

#imgProjet4_2 {
  width: 220px;
}

#imgProjet_2 {
  width: 240px;
}

#imgProjet3_2 {
  width: 300px;
}

#imgProjet7_2 {
  width: 300px;
}

#imgProjet6_3 {
  border-top: 1px solid rgb(132, 130, 130);
  border-right: 1px solid rgb(139, 137, 137);
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
}
@media only screen and (max-width: 830px) {
  #imgProjet6_3 {
    left: 12px;
  }
}
#imgProjet6_3 img {
  width: 100%;
}

#AccueilProjetExplic {
  display: none;
}

#AccueilProjetExplic.isVisible {
  display: flex;
  color: #fff;
  margin: 15px 10px;
  font-size: 1.2rem;
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8));
}

.btn-accueil {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  text-align: center;
  display: block;
  text-decoration: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid #b6604f;
  border: 1px solid #ec8d7a;
  border: 1px solid #ef9785;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  font-size: 1.3rem;
  width: 200px;
  height: 70px;
  line-height: 70px;
  margin: 30px auto 15px;
  background-color: initial;
}
.btn-accueil:hover {
  background: linear-gradient(to left, rgba(214, 131, 114, 0.8) 0%, rgba(214, 131, 114, 0.8) 100%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  transform: translatey(1px);
}
.btn-accueil::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-45deg);
  left: -150px;
}
.btn-accueil:hover::before {
  transition: 0.8s transform linear;
  transform: translateX(500px) rotate(-45deg);
}
@media only screen and (max-width: 550px) {
  .btn-accueil {
    margin-top: 15px;
  }
}

.box_imgProjet2 {
  height: 90%;
}
.box_imgProjet2 img {
  object-fit: cover;
  height: 90%;
}

.main_formation {
  color: #fff;
  margin: 20px 4% 20px 4%;
  /* ------------ Section Tarifs ------------ */
}
@media only screen and (max-width: 550px) {
  .main_formation {
    margin: 20px 2% 20px 2%;
  }
}
.main_formation .box_savoir {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  margin-top: 30px;
  grid-auto-columns: minmax(570px, auto);
  align-items: center;
  margin-bottom: 60px;
  justify-content: center;
}
@media only screen and (max-width: 1000px) {
  .main_formation .box_savoir {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
  }
}
.main_formation .boite {
  grid-column: 1/2;
  grid-row: 1;
}
.main_formation .box_diplome {
  grid-column: 2/4;
  grid-row: 1;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
}
.main_formation .box_diplome .box_titre {
  background-color: rgba(0, 0, 0, 0.8);
  padding: 10px 30px 10px 30px;
  border-radius: 15px;
}
@media only screen and (max-width: 550px) {
  .main_formation .box_diplome .box_titre {
    padding: 10px 10px 10px 10px;
  }
}
.main_formation .box_diplome h1 {
  align-self: center;
  padding: 10px 0 10px 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: block;
  width: 100%;
  margin: 0;
  text-align: center;
  position: relative;
}
@media only screen and (max-width: 1000px) {
  .main_formation .box_diplome h1 {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 550px) {
  .main_formation .box_diplome h1 {
    font-size: 2rem;
    margin-top: 30px;
  }
}
.main_formation .box_diplome .box_titre h2 {
  align-self: flex-start;
  display: block;
  width: 100%;
  font-size: 1.5rem;
  margin: 10px 20px 5px 0;
}
@media only screen and (max-width: 550px) {
  .main_formation .box_diplome .box_titre h2 {
    font-size: 1.2rem;
  }
}
.main_formation .box_diplome .box_titre h3 {
  padding-left: 85px;
  font-size: 1.1rem;
  color: rgb(186, 182, 182);
  margin: 0 20px 15px 0;
}
@media only screen and (max-width: 550px) {
  .main_formation .box_diplome .box_titre h3 {
    font-size: 0.8rem;
  }
}
.main_formation .box_diplome .box_titre span {
  margin-right: 20px;
}
.main_formation .box_diplome .box_titre .flex {
  align-items: center;
}
.main_formation .section-tarifs {
  padding-bottom: 50px;
  border-bottom: 1px dashed rgb(91, 90, 90);
}
.main_formation .section-tarifs h3 {
  text-align: center;
  color: #fff;
  font-size: 45px;
  margin: 30px 0 0 0;
  padding: 0 30px;
  display: block;
  background-color: rgba(0, 0, 0, 0.6);
  padding-bottom: 20px;
  padding-top: 20px;
  position: relative;
  border-bottom: 5px solid #5e5a4c;
  box-sizing: border-box;
}
@media only screen and (max-width: 550px) {
  .main_formation .section-tarifs h3 {
    border-bottom: 3px solid #fff;
    background-color: inherit;
  }
}
.main_formation .container-tarifs {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.main_formation .cartes-tarifs {
  background-color: #333;
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  width: 350px;
  height: auto;
  margin: 0 15px 0px 15px;
  cursor: pointer;
  box-shadow: 0 5px 8px #fff;
  transition: all 0.2s ease-in-out;
  position: relative;
}
@media only screen and (max-width: 550px) {
  .main_formation .cartes-tarifs {
    box-shadow: none;
  }
}
.main_formation .cartes-tarifs::after {
  content: "";
  background-color: #bab9b1;
  position: absolute;
  top: 8px;
  right: -10px;
  height: 100%;
  width: 10px;
  transform: skewy(50deg);
  z-index: -1;
}
@media only screen and (max-width: 550px) {
  .main_formation .cartes-tarifs::after {
    display: none;
  }
}
.main_formation .cartes-tarifs::before {
  content: "";
  background-color: #5e5a4c;
  position: absolute;
  bottom: -10px;
  left: 8px;
  height: 10px;
  width: 100%;
  transform: skewX(50deg);
}
@media only screen and (max-width: 550px) {
  .main_formation .cartes-tarifs::before {
    display: none;
  }
}
.main_formation .cartes-tarifs:hover {
  transform: translateY(-5px);
}
.main_formation .cartes-tarifs h4 {
  margin: 0;
  text-align: center;
  padding: 20px 10px 10px 10px;
  font-size: 1.6rem;
  background: rgba(247, 58, 58, 0.5);
  background: rgb(214, 131, 114);
  height: 60px;
}
.main_formation .cartes-tarifs:nth-child(2) h4 {
  background: #b0445a;
  background: linear-gradient(to left, rgb(177, 78, 59) 0%, rgb(214, 131, 114) 100%);
}
.main_formation .cartes-tarifs:nth-child(3) h4 {
  background: #f16b86;
}
.main_formation .cartes-tarifs p {
  font-size: 18px;
  padding: 3px 5px 3px 10px;
}
.main_formation .cartes-tarifs a {
  display: block;
  text-decoration: none;
  border: 1px solid #333;
  text-align: center;
  width: 200px;
  height: 50px;
  border-radius: 9999px;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  margin: 20px auto;
  transition: all 0.2s ease-in-out;
}
.main_formation .cartes-tarifs a:hover {
  background: #333;
  color: #f1f1f1;
}
@media screen and (max-width: 900px) {
  .main_formation .section-tarifs h3 {
    font-size: 35px;
    margin: 80px 0 0 0;
  }
}
@media screen and (max-width: 550px) {
  .main_formation .section-tarifs h3 {
    font-size: 30px;
    padding: 10px 0 10px 0;
    margin: 30px 0 0 0;
  }
  .main_formation .section-tarifs hr {
    width: 200px;
    margin: 20px auto 20px;
  }
}

.container-tarifs .lien {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container-tarifs .lien_span {
  display: block;
  text-align: center;
  width: 80px;
  height: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
  z-index: 10;
}

.diplome_span {
  display: block;
  text-align: center;
  width: 80px;
  height: 25px;
  border-left: 3px solid #fff;
  border-right: 3px solid #fff;
}

.diplome_lien {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 3px solid #fff;
}

.main_contact {
  text-align: center;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 60vh;
  color: #fff;
}
@media only screen and (max-width: 550px) {
  .main_contact {
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.7));
  }
}
.main_contact .wrap_contact {
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.8));
  padding: 20px 20px 20px 20px;
  box-shadow: 2px 2px 4px 2px rgba(221, 223, 243, 0.6);
  width: 500px;
  height: 350px;
  font-size: 1.4rem;
}
@media only screen and (max-width: 830px) {
  .main_contact .wrap_contact {
    width: 450px;
  }
}
@media only screen and (max-width: 550px) {
  .main_contact .wrap_contact {
    margin-top: 100px;
    width: 340px;
    border: none;
    box-shadow: none;
  }
}
.main_contact .wrap_contact .span_mail {
  display: block;
}
@media only screen and (max-width: 550px) {
  .main_contact .wrap_contact hr {
    display: none;
  }
}
@media only screen and (max-width: 830px) {
  .main_contact .wrap_contact h1 {
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 830px) {
  .main_contact .wrap_contact span {
    font-size: 1.2rem;
  }
}
.main_contact .mainFrozzen.frozzen {
  background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.6));
  filter: blur(10px);
}
.main_contact .mail_link_contact {
  position: relative;
  overflow: hidden;
  border-radius: 9999px;
  text-align: center;
  display: block;
  text-decoration: none;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.8);
  border: 1px solid #b6604f;
  border: 1px solid #ec8d7a;
  border: 1px solid #ef9785;
  color: #fff;
  letter-spacing: 1px;
  font-weight: 600;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  border-radius: 25px;
  margin: 35px auto 10px;
  width: 340px;
  align-self: center;
}
.main_contact .mail_link_contact:hover {
  background: linear-gradient(to left, rgba(214, 131, 114, 0.8) 0%, rgba(214, 131, 114, 0.8) 100%);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
  transform: translatey(1px);
}
.main_contact .mail_link_contact::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 20px;
  background: rgba(255, 255, 255, 0.4);
  transform: rotate(-45deg);
  left: -150px;
}
.main_contact .mail_link_contact:hover::before {
  transition: 0.8s transform linear;
  transform: translateX(500px) rotate(-45deg);
}
@media only screen and (max-width: 550px) {
  .main_contact .mail_link_contact {
    width: 300px;
  }
}
.main_contact .mail_link_contact span {
  display: block;
  padding: 10px 15px 10px 15px;
  line-height: 30px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width: 550px) {
  .main_contact .mail_link_contact span {
    padding: 10px 5px 10px 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
