@mixin devices($breakpoint) {
    //the name of the mixin is devices
    @if $breakpoint == small-mobile {
      @media only screen and (max-width: 360px) {
        @content;
      }
    }
    @if $breakpoint == mobile {
      @media only screen and (max-width: 550px) {
        @content;
      }
    }
    @if $breakpoint == tablet {
      @media only screen and (max-width: 680px) {
        @content;
      }
    }
    @if $breakpoint == small-pc {
      @media only screen and (max-width: 830px) {
        @content;
      }
    }
    @if $breakpoint == 1000-pc {
      @media only screen and (max-width: 1000px) {
        @content;
      }
    }
    @if $breakpoint == big-pc {
      @media only screen and (min-width: 2000px) {
        @content;
      }
    }
  }
  
  @mixin marge-page {
    margin-right: 7%;
    margin-left: 7%;
  }
  @mixin marge-page-mobile {
    margin-right: 5.3%;
    margin-left: 5.3%;
  }
  
  @mixin padding-box {
    padding-right: 3%;
    padding-left: 3%;
  }
  
  @mixin allCenter {
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  @mixin alignCenter {
    align-items: center;
    display: flex;
  }
  
  @mixin justifyBetween {
    display: flex;
    justify-content: space-between;
  }
  
  @mixin filterPosition {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }

@mixin btnRose {
    position:relative;
    overflow: hidden;
    border-radius: 9999px;
    text-align: center;
    justify-content: center;
    display: block;  
    text-decoration: none;
    box-shadow: 2px 2px 6px rgba(0,0,0,0.4);
    border: 3px solid rgb(147, 3, 3);
    color: #fff;
    letter-spacing: 1px;
    background:  rgb(164, 0, 0);
    font-weight: 500;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    &:hover {
    background:  rgb(226, 0, 0);
    box-shadow: 1px 1px 4px rgba(0,0,0,0.8);
    transform: translatey(1px);
    border-left: 1px solid rgb(147, 3, 3);
    border-right:1px solid rgb(147, 3, 3);
    }
    &::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 20px;
    background: rgba(255,255,255,0.4);
    transform: rotate(-45deg);
    left: -150px;
    }
    &:hover::before {
    transition: 0.8s transform linear;
    transform: translateX(500px) rotate(-45deg);
    } 
}

  