body{
    margin:0;
      padding:0;
    background: linear-gradient(250deg,rgba(0,0,0,0.3),rgba(0,0,0,0.4)),url('./../../../assets/img17.jpg');
    background-attachment: fixed;
    filter: brightness(1.2);
    background-size: cover;
       
        font-family: Arial, Georgia, 'Times New Roman', Times, serif;
    
      
}

a{
  color:#fff;
  text-decoration: none;
  cursor: pointer;
}

.flex{
  display: flex;
}

.column{
  display: flex;
  flex-direction: column;
}