body{
    margin:0;
      padding:0;
    background: linear-gradient(250deg,rgba(0,0,0,0.1),rgba(0,0,0,0.2)),url('./../../../assets/img11.jpg');
    background-attachment: fixed;
    filter: brightness(1.2);
    background-size: cover;
    
         height:100vh;
        text-align: center;
        font-family: 'lora',Georgia, 'Times New Roman', Times, serif;
        font-family: 'ubuntu',Georgia, 'Times New Roman', Times, serif;
        font-family: 'Crimson Text', serif;
        height: 100vh;
}