.main_contact {
  text-align: center;
  @include allCenter;
  height: 100vh;
  border-top: 2px solid rgb(214, 212, 212);
  color: #fff;
  background: rgb(50, 50, 50);
  background: rgba(0, 0, 0, 0.8);

  @include devices(small-pc) {
    // border-top: none;
    background-color: inherit;
  }
  @include devices(mobile) {
    border-top: none;
  }
  .h2_contact {
    font-size:2.6rem;     
    @include devices(small-pc) {
      font-size: 1.5rem;
    }
  }
  .wrap_contact {
    margin-top: 90px;
    // background-color: #454448;
    background: linear-gradient(to left, rgb(34, 33, 33) 0%, rgb(52, 53, 57) 100%);
    padding: 20px 20px 20px 20px;
    box-shadow: 2px 2px 3px 1px rgba(228, 227, 227, 0.4);
    width: 600px;
    border-radius:15px;
    font-size: 1.4rem;
    @include devices(small-pc) {
      width: 450px;
      background: linear-gradient(to left, rgba(17, 17, 17, 0.8) 0%, rgba(0, 0, 0,0.8) 100%);
    }
    @include devices(mobile) {
      margin-top: 100px;
      width: 340px;
      height: auto;
      border: none;
      box-shadow: none;
      background-color: inherit;
    }
    
    .span_mail {
      display: block;
    }
    hr {
      @include devices(mobile) {
        display: none;
      }
    }
    
    span {
      @include devices(small-pc) {
        font-size: 1.2rem;
      }
    }
  }
}

.mail_link_contact {
  @include btnRose;
  font-size: 1.2rem;
  padding: 10px 25px 10px 25px;
  margin: 35px auto;
  width: 240px;
  @include devices(small-pc) {
    margin: 15px auto 20px;
  }
}
