//boite Skill Capacity
.main_formation{
  color:#fff;
  margin: 20px 4% 20px 4%;
  .box_formation{
  display: flex;
  @include devices(mobile){
    margin: 20px 2% 20px 2%;
  }
  }
  
  .box_diplome{
    font-size: 1.2rem;
     display: flex;

     flex-direction: column;
     padding: 10px 30px 10px 30px;
    margin-left:40px;
    background-color:rgba(0,0,0,0.8); 
    // background-color: linear-gradient(to right, #9a989c, #4a484e);
    background-color:hsl(220, calc(1 * 7.7%), 22.9%);
    background-color:hsl(223, calc(var(1.5, 1) * 6.9%), 19.8%);
    background-color:rgb(39, 38, 38,0.9);
    background-color:rgba(0,0,0,0.8); 
    background: linear-gradient(280deg,rgba(0,0,0,0.7),rgba(0,0,0,0.8));
    height: 100vh;
    h1{
      align-self: center;
      margin-top:20px;
      position: relative;
      // display: block;
      width: 300px;
     
      &::after {
        content:"";
        display: block;
        position: absolute; 
        bottom:-15px;
        left:-38%;
        width: 150%;      
      background-position: center;   
        height: 2px;                
        background-color: #fff;
      }
    }
    .box_titre{
      h2{
        align-self: flex-start;
        display: block;
        width: 100%;
        font-size: 1.5rem;
        margin: 10px 20px 10px 0;
      }
      h3{
        padding-left: 85px;
        font-size: 1.1rem;
        color:rgb(186, 182, 182);
        margin: 5px 20px 15px 0;
      }
      span{
        margin-right: 20px;
      }
      .flex{
        align-items: center;
      }
    }
  }

}