//boite Skill Capacity
.main_formation {
  color: #fff;
  padding: 20px 4% 20px 4%;
  border-top: 8px solid rgb(126, 123, 123);
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom: 8px solid rgb(126, 123, 123);
  @include devices(mobile) {
    padding: 20px 2% 20px 2%;
  }
  
  h1,
  .h3_formation {
    text-align: center;
    color: #fff;
    font-size: 2rem;
  }
  
  .box_savoir {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
    grid-auto-columns: minmax(570px, auto);
    align-items: center;
    margin-bottom: 60px;
    justify-content: center;
    padding-top: 100px;
    @include devices(1000-pc) {
      padding-top: 70px;
      display: flex;
      flex-direction: column;
    }
    @include devices(small-pc) {
      padding-top: 60px;
    }
    @include devices(mobile) {
      padding-top: 30px;
    }
  }

  .boite {
    grid-column: 1 / 2;
    grid-row: 1;
  }

  .box_diplome {
    grid-column: 2 / 4;
    grid-row: 1;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    .box_titre {
      background-color: #454448;
      background: linear-gradient(to left, rgb(34, 33, 33) 0%, rgb(52, 53, 57) 100%);
      padding: 30px 30px 30px 30px;
      transition: all 0.2s ease-in-out;
      z-index: 2;
      width: 90%;
      &:hover {
        transform: translateY(-5px);
      }
      @include devices(mobile) {
        padding: 10px 15px 10px 15px;
      }
    }

    h2 {
      padding: 15px 0 15px 0;
      background-color: rgb(66 65 65 / 80%);
      background: linear-gradient(to left, rgb(34, 33, 33) 0%, rgb(52, 53, 57) 100%);
      display: block;
      margin: 0;
      text-align: center;
      position: relative;
      font-size: 2.2rem;
      @include devices(1000-pc) {
        margin-top: 40px;
      }
      @include devices(mobile) {
        font-size: 1.9rem;
        margin-top: 20px;
      }
    }
    .box_titre {
      position: relative;
      &::after {
        content: '';
        background-color: rgb(88 92 98);
        position: absolute;
        top: 6px;
        right: -10px;
        height: 100%;
        width: 10px;
        transform: skewy(50deg);
        z-index: -1;
        @include devices(mobile) {
          display: none;
        }
      }

      &::before {
        content: '';
        background-color: rgb(68 65 65);
        position: absolute;
        bottom: -10px;
        left: 6px;
        height: 10px;
        width: 100%;
        transform: skewX(50deg);
        @include devices(mobile) {
          display: none;
        }
      }

      h3 {
        align-self: flex-start;
        display: block;
        width: 100%;
        font-size: 1.2rem;
        margin: 10px 20px 5px 0;
        @include devices(mobile) {
          font-size: 0.9rem;
        }
        &.title_formation{
          margin: 10px 20px 10px 0;
        }
      }
      h4 {
        padding-left: 25px;
        font-size: 1rem;
        color: rgb(222 171 171);
        margin: 0 10px 10px 0;
        @include devices(mobile) {
          font-size: 0.8rem;
          margin: 0 10px 0 0;
        }
      }
      span {
        margin-right: 20px;
        z-index: -1;
      }
      .flex {
        align-items: center;
      }
    }
  }
  .section_certif {
    h3 {
      margin: 30px 0 0 0;
      display: block;
      background-color: rgb(27, 21, 21, 0.2);
      padding-bottom: 20px;
      padding-top: 20px;
    }
  }

  .section-skill {
    padding-bottom: 50px;
    @include devices(mobile){
      padding-bottom: 20px;
    }
    h2 {
      text-align: center;
      margin: 30px 0 0 0;
      font-size:2.2rem;
      display: block;
      // background-color: rgb(66 65 65 / 80%);
      background: linear-gradient(to left, rgb(34, 33, 33) 0%, rgb(52, 53, 57) 100%);
      padding-bottom: 20px;
      padding-top: 20px;
      position: relative;
      border-bottom: 5px solid #5e5a4c;
      box-sizing: border-box;
      @include devices(mobile){
        font-size:1.9rem;
        margin: 20px 0 0 0;
      }
    }

    .container-skill {
      display: flex;
      justify-content: center;
      justify-content: space-evenly;
      flex-wrap: wrap;
    }
    .cartes-skill {
      background: linear-gradient(to left, rgb(34, 33, 33) 0%, rgb(52, 53, 57) 100%);
      color: #fff;
      z-index: 3;
      width: 350px;
      height: auto;
      margin: 0 15px 0px 15px;
      cursor: pointer;
      transition: all 0.2s ease-in-out;
      position: relative;
      padding: 0 0 20px 0;
      @include devices(mobile) {
        box-shadow: none;
        border-radius: 15px;
        width: 340px;
        padding: 0 0 20px 0;
        border: 3px solid rgb(222, 171, 171);
        margin:0;
        
      }
      
      @include devices(small-mobile) {
          width:300px;
         
      }
      &::after {
        content: '';
        background-color: rgb(88 92 98);
        position: absolute;
        top: 6px;
        right: -10px;
        height: 100%;
        width: 10px;
        transform: skewy(50deg);
        z-index: -1;
        @include devices(mobile) {
          display: none;
        }
      }

      &::before {
        content: '';
        background-color: rgb(68 65 65);
        position: absolute;
        bottom: -10px;
        left: 6px;
        height: 10px;
        width: 100%;
        transform: skewX(50deg);
        @include devices(mobile) {
          display: none;
        }
      }
    }
    .cartes-skill:hover {
      transform: translateY(-8px);
    }

    .cartes-skill h3 {
      margin: 0;
      // border-radius: 25px 25px 0 0;
      text-align: center;
      padding: 20px 10px 10px 10px;
      font-size: 1.3rem;
      height: 40px;
      @include devices(mobile) {
        border-radius: 10px 10px 0 0;
        text-shadow: 1px 1px #19718c, 1px 2px rgb(30, 88, 134), 1px 3px #166982,1px 4px #206da8;
        font-size: 1.2rem;
        border-bottom: 3px solid rgb(222, 171, 171);
      }
    }
    .cartes-skill:nth-child(2) h3 {
      background: linear-gradient(
        to left,
        rgb(21, 26, 38) 0%,
        rgb(71, 75, 70) 100%
      );
      @include devices(mobile){
        background: linear-gradient(to left, rgb(59, 174, 200) 0%, rgb(51 153 187) 100%);
      }
      position: relative;
      overflow: hidden;
      transition: all 0.2s;
      -webkit-transition: all 0.2s;
      margin-bottom: 20px;
      &::before {
        content: '';
        position: absolute;
        width: 200px;
        height: 20px;
        background: rgba(255, 255, 255, 0.4);
        transform: rotate(-45deg);
        left: -150px;
      }
      &:hover::before {
        transition: 0.8s transform linear;
        transform: translateX(500px) rotate(-45deg);
      }
    }

    .cartes-skill p {
      font-size: 1.1rem;
      padding: 0 5px 0 10px;
      margin: 10px 0 10px 0;
      i{
        color: rgb(45, 211, 31);
        font-size: 1rem;
        font-weight: bold;
        margin-right: 8px;
      }
      @include devices(mobile) {
        padding: 0 5px 0 10px;
        margin: 5px 0 5px 0;
        font-size: 1rem;
      }
      &:nth-child(1) {
        padding-top: 20px;
      }
    }

    @media screen and (max-width: 900px) {
      .section-skill h3 {
        font-size: 35px;
        margin: 80px 0 0 0;
      }
    }
    @media screen and (max-width: 550px) {
      .section-skill h3 {
        font-size: 30px;
        padding: 10px 0 10px 0;
        margin: 30px 0 0 0;
      }
      .section-skill hr {
        width: 200px;
        margin: 20px auto 20px;
      }
    }
  }

  .container-skill {
    .lien {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .lien_span {
      display: block;
      text-align: center;
      width: 80px;
      height: 25px;
      border-left: 3px solid #fff;
      border-right: 3px solid #fff;
      z-index: 1;
      @include devices(mobile) {
        border-color: transparent;
      }
    }
  }

  .diplome_span {
    display: block;
    text-align: center;
    width: 140px;
    height: 25px;
    border-left: 3px solid #fff;
    border-right: 3px solid #fff;
    @include devices(mobile) {
      border-color: transparent;
    }
  }
  .diplome_lien {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 5px solid #5e5a4c;
  }
}

.certification {
  margin: 30px auto;
  width: 80%;
  background-color: rgba(0, 0, 0, 0.6);
  
  padding-bottom:30px;
  @include devices(mobile) {
    width: 100%;
  }
  .h2_formation {
    border-top: 1px solid #fff;
    text-align: center;
    padding-top: 20px;
    display: block;
    @include devices(mobile) {
      font-size: 1.6rem;
    }
  }

  .boxCertification {
    column-count: 2;
    column-gap: 1em;
    
    p {
      font-size: 1.1rem;
      margin: 5px 0;
      padding-left:30px;
      padding-right:30px;
      @include devices(mobile) {
        font-size: 0.9rem;
        padding-left:5px;
        padding-right:5px;
      }
      &:nth-child(1) {
        margin-top: 0;
        display: block;
      }
    }
    @include devices(small-pc) {
      column-count: 1;
      padding-right: 15px;
      padding-left: 15px;
    }
  }

  
}
.icon_formation{
  width:  35px;
  height:  35px;
  display: inline-block;
  margin-top:4px;
  margin-bottom:4px;
}
.icon_formation{
  img{
    width: 100%;
    height: 100%;
  }
}

.box-iconsFormation{
  display: flex;
  flex-wrap: wrap;
  margin:10px 30px 10px 30px;
  i{
    margin-top:4px;
    margin-bottom:4px;
  }
}