#home {
  // background: rgb(31, 31, 31);
  background: rgb(33, 33, 33);
  background: rgb(37, 37, 37);
  background: radial-gradient(circle, rgba(45,45,45,1) 0%, rgba(37,37,37,1)  100%);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  .container {
    padding-bottom:100px;
    margin: auto;
    // height: 455px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    // padding-bottom: 180px;
  }
  .wrapTitle {
    &.hidden {
      display: none;
    }
    // &.marginTop {
    //   margin-top: 100px;
    // }
  }

  .presentation {
    margin: 10px 0 25px 0;
    font-weight: 400;

    position: relative;
    h1,
    p {
      margin: 0;
    }
  }
  .text-3d {
    color: rgb(255, 255, 255);
  }
  h1 {
    margin-bottom: 0px;
    font-size: 2.6rem;
    line-height: 2.6rem;
    @include devices(mobile) {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
  .text_web {
    font-size: 1.3rem;
    color: rgb(180 57 27);
    //  box-shadow: 1px 1px 1px rgb(243, 240, 240);
    @include devices(mobile) {
      font-size: 1.2rem;
    }
  }

  .c1 {
    display: inline-block;
  }
  .c2 {
    display: inline-block;
  }

  .type1 {
    overflow: hidden;
    border-right: 0.15em solid rgb(245, 242, 242);
    white-space: nowrap;
    width: 0;

    animation: typing 2s 0.3s steps(30, end) forwards,
      borderHidden 0.01s 2.3s forwards;
  }

  .type2 {
    opacity: 0;
    overflow: hidden;
    border-right: 0.17em solid rgb(243, 241, 241);
    white-space: nowrap;
    width: 0;
    animation: typing 1.5s 2.3s steps(30, end) forwards,
      blink 0.75s 2.3s infinite, borderVisible 0.01s 2.3s forwards,
      borderHidden 0.01s 5.8s forwards;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes borderVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes borderHidden {
    from {
      border-right: 0.15em solid rgb(224, 224, 224);
    }
    to {
      border-right: none;
    }
  }
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: rgb(189, 193, 190);
    }
  }

  .box_photo {
    border-radius: 50%;
    border: 4px solid #333;
    border: 1px solid rgba(145, 138, 138, 0.6);
    overflow: hidden;
    height: 100px;
    width: 100px;
    &.hiddenImg {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.main_frozzen {
  &.frozzen {
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
    filter: blur(10px);
  }
}

#btn_home {
  @include btnRose;
  margin: 15px auto 0;
  padding: 10px 15px;
  border-radius: 25px;
  width: 140px;
  // box-shadow: 3px 3px 10px 2px rgba(44, 9, 9, 0.8);
  box-shadow: 4px 4px 10px 4px rgba(36, 3, 3, 0.8);
  font-weight: 500;
  border-color: rgb(180 57 27);
  @include devices(mobile) {
    margin-top: 15px;
  }
}
