#home {
  position: relative;
  top: -60px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .container {
    position: relative;
    top: -60px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    @include devices(small-pc) {
      top: -60px;
    }
    @include devices(mobile) {
      height: 100%;
      width: 100%;
    }
  }
  .wrapTitle {
    height: auto;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    margin: 20px 0 40px 0;
    align-items: center;
    // &.hidden {
    //   display: none;
    // }
  }
  .presentation {
    margin: 30px 0 30px 0;
    font-weight: 400;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1,
    p {
      margin: 0;
    }
  }
  .text-3d {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 3px #000;
  }
  h1 {
    margin: 0px;
    font-size: 2.6rem;
    line-height: 2rem;
    @include devices(mobile) {
      font-size: 2.2rem;
      line-height: 1.8rem;
    }
  }
  .text_web {
    font-size: 1.3rem;
    color: rgba(193, 189, 188, 0.9);
    text-shadow: 1px 1px 1px #000, 1px 1px 1px #000, 1px 1px 1px #000,
      1px 1px 1px #000;
    text-shadow: 1px 1px 1px rgb(244, 241, 241), 1px 1px 1px rgb(233, 230, 230),
      1px 1px 1px rgb(227, 224, 224), 1px 1px 1px rgb(224, 222, 222);
    @include devices(mobile) {
      font-size: 1.1rem;
    }
  }
  .c1 {
    display: block;
    box-sizing: border-box; 
  }
  .c2 {
    display: block;
    box-sizing: border-box;
    margin-top:10px;
  }

  .type1 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    // border-right: 0.15em solid rgb(245, 242, 242);
    white-space: nowrap;
    width: 0;
    opacity: 0;
    font-weight: bold;
    animation: typing 0.6s 1.7s steps(27, end) forwards,
      borderVisible 0.01s 1.7s forwards;
      //borderHidden 0.01s 2.4s forwards;
  }

  .type2 {
    position: relative;
    text-align: center;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    // border-right: 0.16em solid rgb(243, 241, 241);
    white-space: nowrap;
    width: 0;
    // margin-bottom:20px;
    text-shadow: 1px 1px 1px rgb(63, 62, 62), 1px 1px 1px rgb(103, 3, 3),
      1px 1px 1px rgb(101, 2, 2), 1px 1px 1px rgb(101, 2, 2),
      1px 1px 1px rgb(101, 2, 2), 1px 1px 1px rgb(101, 2, 2),
      1px 1px 1px rgb(101, 2, 2), 1px 1px 1px rgb(77, 3, 3);
    animation: typing 1s 2.4s steps(38, end) forwards,
      blink 0.75s 2.3s infinite,
      borderVisible 0.01s 2.5s forwards;
      // borderHidden2 0.01s 5.6s forwards;
    // @include devices(mobile){  
    // }
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes borderVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes borderHidden {
    from {
      border-right: 0.15em solid rgb(224, 224, 224);
    }
    to {
      border-right: none;
    }
  }
  @keyframes borderHidden2 {
    from {
      border-right: 0.16em solid rgb(224, 224, 224);
    }
    to {
      border-right: none;
    }
  }
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: rgb(189, 193, 190);
    }
  }

  .box_photo {
    border-radius: 50%;
    border: 4px solid #333;
    border: 1px solid rgba(145, 138, 138, 0.6);
    overflow: hidden;
    height: 110px;
    width: 110px;
    &.hiddenImg {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .main_frozzen {
    &.frozzen {
      background: linear-gradient(
        280deg,
        rgba(0, 0, 0, 0.2),
        rgba(0, 0, 0, 0.2)
      );
      filter: blur(10px);
    }
  }

  #btn_home {
    @include btnRose;
    margin: 15px auto 0;
    padding: 10px 15px;
    width: 250px;
    font-size: 1.2rem;
    @include devices(mobile) {
      margin-top: 15px;
      border-left:none;
      border-right:none;
    }
  }
}
