#home {
  position:relative;
  top:-70px;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // background: radial-gradient(circle, rgb(50, 50, 55) 0%, rgb(42, 42, 45) 100%);


//  background: rgb(50,50,50);
  // background-color: #454448;
// background-color: rgba(0, 0, 0, 0.3);
//   @include devices(mobile) {
       top:-60px;
//   }
.img_bannerHome{
  height: 300px;
  width: 100%;
  overflow: hidden;
  background-color: inherit;
 
}
.home_cover{
  -o-object-fit: cover;
  object-fit: cover;
  // object-position: 10% 70%;
  height:100%;
  width:100%;

}
  .container {
    //  background: rgb(50,50,50);
    position:relative;
    top:-60px;
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;

    //essai
    // position: absolute;
    // top:50%;
    // left:50%;
    // transform: translate(-50%,-50%);
    //


    @include devices(small-pc) {
      top:-60px;
    } 
    @include devices(mobile) {
      height: 100%;
      width: 100%;
    } 
  }
  .wrapTitle {
    // background: rgb(47,45,45);
    height: auto;
    &.hidden {
      display: none;
    }
  }

  .presentation {
    margin: 30px 0 30px 0;
    font-weight: 400;

    position: relative;
    h1,
    p {
      margin: 0;
    }
  }
  .text-3d {
    color: rgb(255, 255, 255);
    // box-shadow: 1px 1px 2px #333;
    text-shadow: 1px 1px 3px #000;
  }
  h1 {
    margin-bottom: 0px;
    font-size: 2.6rem;
    line-height: 2.6rem;
   
    @include devices(mobile) {
      font-size: 1.8rem;
      line-height: 1.8rem;
    }
  }
  .text_web {
    font-size: 1.3rem;
    
    color: rgb(173 34 0);
    color : rgba(228, 41, 3, 0.9);
    color : rgba(193, 189, 188, 0.9);
    // color : rgba(255,56,6);
    text-shadow: 1px 1px 1px #000,
  1px 1px 1px #000,
  1px 1px 1px #000,
   1px 1px 1px #000;
    text-shadow: 1px 1px 1px rgb(244, 241, 241),
  1px 1px 1px rgb(233, 230, 230),
  1px 1px 1px rgb(227, 224, 224),
   1px 1px 1px rgb(224, 222, 222);
    @include devices(mobile) {
      font-size: 1.2rem;
    }
  }

  .c1 {
    display: inline-block;
    box-sizing: border-box;
  }
  .c2 {
    display: inline-block;
    box-sizing: border-box;
  }

  .type1 {
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
    border-right: 0.15em solid rgb(245, 242, 242);
    white-space: nowrap;
    width: 0;
    font-weight:bold;
    animation: typing 1.2s 0.25s steps(27, end) forwards,
      borderHidden 0.01s 1.5s forwards;
  }

  .type2 {
    position: relative;
    box-sizing: border-box;
    opacity: 0;
    overflow: hidden;
    border-right: 0.16em solid rgb(243, 241, 241);
    white-space: nowrap;
    width: 0;
    text-shadow: 1px 1px 1px rgb(63, 62, 62),
   1px 1px 1px rgb(103, 3, 3),
    1px 1px 1px rgb(101, 2, 2),
    1px 1px 1px rgb(101, 2, 2),
    1px 1px 1px rgb(101, 2, 2),
    1px 1px 1px rgb(101, 2, 2),
    1px 1px 1px rgb(101, 2, 2),
    1px 1px 1px rgb(77, 3, 3);
    animation: typing 1.1s 1.8s steps(27, end) forwards, blink 0.75s 1.5s infinite,
      borderVisible 0.01s 1.7s forwards, borderHidden2 0.01s 5.3s forwards;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes borderVisible {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes borderHidden {
    from {
      border-right: 0.15em solid rgb(224, 224, 224);
    }
    to {
      border-right: none;
    }
  }
  @keyframes borderHidden2 {
    from {
      border-right: 0.16em solid rgb(224, 224, 224);
    }
    to {
      border-right: none;
    }
  }
  @keyframes blink {
    from {
      border-color: transparent;
    }
    to {
      border-color: rgb(189, 193, 190);
    }
  }

  .box_photo {
    border-radius: 50%;
    border: 4px solid #333;
    border: 1px solid rgba(145, 138, 138, 0.6);
    overflow: hidden;
    height: 120px;
    width: 120px;
    &.hiddenImg {
      display: none;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  .main_frozzen {
    &.frozzen {
      background: linear-gradient(280deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
      filter: blur(10px);
    }
  }

  #btn_home {
    @include btnRose;
    margin: 15px auto 0;
    padding: 10px 15px;
    border-radius: 25px;
    width: 180px;
    // box-shadow: 3px 3px 10px 3px rgba(0, 0, 0, 0.6);
    font-weight: 500;
    border-color: rgb(180 57 27);
    border: 1px solid rgba(164, 1 ,1 ,0.5);
    // border: 1px solid rgb(110 105 104);
    // background: linear-gradient(to left,rgba(228, 41, 3, 0.9) 0%,rgba(214, 47, 13, 0.9) 100%);
    // background-color: rgba(238, 5, 5, 1);
    background: linear-gradient(250deg, rgb(164, 9, 9), rgb(170, 12, 12));
    // background-color: inherit;
    @include devices(mobile) {
      margin-top: 15px;
    }
  }
}