.main_projets {
  color: #fff;
  text-align: center;
  box-sizing: border-box;
  // background: linear-gradient(
  //     250deg,
  //     rgba(26, 26, 30, 0.2),
  //     rgba(47, 44, 44, 0.2)
  //   ),
  //   url('./../../../assets/img17.jpg');

  // background-attachment: scroll;

  // background-size: cover;
  // background-repeat: no-repeat;
  background: linear-gradient(
    250deg,
    rgba(26, 26, 30, 0.2),
    rgba(47, 44, 44, 0.1)
  );

  .accueil {
    padding-top: 90px;

    width: 80%;
    margin: 0 auto 0;
    // min-height: 290px;
    height: auto;
    border-bottom: 1px dotted #777;
    padding-bottom: 20px;

    background: linear-gradient(
      250deg,
      rgba(26, 26, 30, 0.5),
      rgba(13, 13, 14, 0.3)
    );
    background: linear-gradient(
      rgba(191, 191, 197, 0.1) 10%,
      rgba(13, 13, 14, 0.4)
    );

    box-shadow: 1px 1px 4px 1px rgba(96, 95, 95, 0.3);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);

    border-bottom: 7px solid #615f55;

    background: rgba(113, 108, 108, 0.21);
    border-radius: 0 0 16px 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4.9px);
    -webkit-backdrop-filter: blur(4.9px);
    border-left: 1px solid rgba(113, 108, 108, 0.4);
    border-right: 1px solid rgba(113, 108, 108, 0.4);

    @include devices(small-pc) {
      padding-top: 50px;
    }
  }

  .accueil h1 {
    text-align: center;
    font-size: 3.2rem;
    text-shadow: 0 0 10px #000;
    margin-top: 10px;
    font-family: Merienda one, sans-serif;
  }
  .sous-titre {
    text-align: center;
    font-size: 1.4rem;
    font-weight: bold;
    margin: 5px 0;
    text-shadow: 0 0 10px #000;
  }

  @media screen and (max-width: 850px) {
    .accueil h1 {
      font-size: 2.2rem;
      padding-top:15px;
    }
    .sous-titre {
      font-size: 1.2rem;
    }
  }

  @media screen and (max-width: 400px) {
    .accueil h1 {
      font-size: 2rem;
    }
    .sous-titre {
      font-size: 1rem;
    }
  }

  #AccueilProjetExplic {
    display: none;
  }

  #AccueilProjetExplic.isVisible {
    display: flex;
    color: #fff;
    margin: 20px 10px 0;
    padding: 8px;
    font-size: 1.2rem;
    background: linear-gradient(280deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    border: 1px solid rgb(199, 198, 198);
    transform-origin: top center;
    animation: scaleZ 0.6s ease-in-out forwards;
    position: relative;
  }

  @keyframes scaleZ {
    0% {
      opacity: 0;
      transform: scale(0);
      top: -15px;
    }
    10% {
      opacity: 0.3;
      top: 0px;
    }

    80% {
      transform: scale(1);
      opacity: 1;
    }

    100% {
      transform: scale(1);
    }
  }

  .btn-accueil {
    @include btnRose;
    font-size: 1.3rem;
    width: 200px;
    height: 70px;

    margin: 30px auto 15px;
    background-color: initial;
    border: 3px solid rgba(175, 6, 6, 0.9);
    padding-left: 5px;
    padding-right: 5px;

    &:hover,
    &.redColor {
      background: linear-gradient(
        to left,
        rgba(228, 41, 3, 0.9) 0%,
        rgba(214, 47, 13, 0.9) 100%
      );
    }
    @include devices(small-pc) {
      width: 180px;
      height: 50px;

      font-size: 1.2rem;
      margin: 30px auto 20px;
    }
    @include devices(mobile) {
      margin: 20px auto 5px;

      font-size: 1rem;
    }
  }

  /* Section asymétrique */
  hr {
    color: #fff;
    margin: 0;
  }
  .section-asymetrique {
    display: grid;
    grid-template: 140px repeat(6, auto) 10px / 1fr 600px 1fr;
  }

  .section-asymetrique2 {
    grid-template: 10px repeat(6, auto) 30px / 1fr 600px 1fr;
  }

  .section-asymetrique h2 {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1.4rem;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .section-asymetrique .h2bis {
    grid-area: 1 / 1 / 2 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    padding-bottom: 20px;
  }

  .img-grid {
    @include devices(mobile) {
      background: linear-gradient(
        to left,
        rgb(34 33 33) 0%,
        rgb(52 53 57) 100%
      );
      border-bottom: 10px solid rgb(114, 111, 111);
      margin-bottom: -3px;
    }
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  /* Placement */

  .bloc-1,
  .img-grid-1 {
    grid-area: 2 / 2 / 3 / 3;
  }

  .bloc-right,
  .img-grid-2 {
    grid-area: 3 / 2 / 4 / 3;
  }

  .bloc-3,
  .img-grid-3 {
    grid-area: 4 / 2 / 5 / 3;
  }

  .bloc {
    background: linear-gradient(to left, rgb(34 33 33) 0%, rgb(52 53 57) 100%);
    color: #fff;
    position: relative;
    height: 750px;
    margin-bottom: 250px;
  }
  .img-grid {
    width: 500px;
    height: 700px;
    object-fit: cover;
    position: relative;
  }

  .img-grid-1,
  .img-grid-3 {
    top: 130px;
    left: 20px;
  }

  .bloc-left {
    left: -300px;
  }

  .bloc-txt-left {
    width: 50%;
    height: 100%;
  }
  .bloc-txt-left h3 {
    white-space: nowrap;
    font-size: 35px;
    margin: 30px 15px;
  }
  .bloc-txt-left p {
    line-height: 40px;
    padding: 15px;
  }
  .bloc button {
    border-radius: 9999px;
    outline: none;
    border: 1px solid rgba(236, 80, 49, 0.8);

    background: linear-gradient(250deg, rgb(169, 6, 6), rgb(184 13 13));
    background: linear-gradient(250deg, rgb(164, 9, 9), rgb(170, 12, 12));
    color: #f1f1f1;
    padding: 20px 35px;
    font-size: 20px;
    margin: 35px auto;

    display: block;
    position: relative;
    overflow: hidden;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.9);
    &:hover {
      background: linear-gradient(
        to left,
        rgb(160, 41, 17) 0%,
        rgba(165, 34, 8, 0.973) 50%
      );
      background: linear-gradient(
        to left,
        rgb(231 16 27) 0%,
        rgb(222 8 8) 100%
      );
      box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
      transform: translatey(1px);
    }
    &::before {
      content: '';
      position: absolute;
      width: 200px;
      height: 20px;
      background: rgba(255, 255, 255, 0.4);
      transform: rotate(-45deg);
      left: -150px;
    }
    &:hover::before {
      transition: 0.8s transform linear;
      transform: translateX(500px) rotate(-45deg);
    }
  }

  .bloc-right {
    right: -300px;
  }
  .img-grid-2 {
    top: 130px;
    left: 100px;
  }
  .bloc-txt-right {
    position: absolute;
    right: 0;
    width: 50%;
    height: 100%;
  }
  .bloc-txt-right h3 {
    position: relative;
    font-size: 35px;
    margin: 30px 15px;
  }
  .bloc-txt-right p {
    line-height: 40px;
    padding: 15px;
  }
  .bloc-txt-right button {
    margin: 5px auto;
  }

  /* Lignes verticales */

  .ligne-gauche {
    grid-area: 1 / 2 / -1 / 3;
    border-left: 3px solid #fff;
    border-left: 4px solid #5e5a4c;
    border-left: 3px solid #a8a69e;
  }
  .ligne-droite {
    grid-area: 1 / 3 / -1 / 4;
    border-left: 3px solid #fff;
    border-left: 4px solid #5e5a4c;
    border-left: 3px solid #a8a69e;
  }

  @media screen and (max-width: 1200px) {
    .section-asymetrique {
      // grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
      grid-template: 80px repeat(6, auto) 10px / 1fr 600px 1fr;
    }
    .section-asymetrique2 {
      // grid-template: 200px repeat(6, auto) 100px / 1fr 600px 1fr;
      grid-template: 40px repeat(6, auto) 30px / 1fr 600px 1fr;
    }

    .section-asymetrique h2 {
      font-size: 1.4rem;
      padding-bottom: 0px;
    }

    .bloc-1 {
      grid-area: 2 / 2 / 3 / 3;
    }
    .img-grid-1 {
      grid-area: 3 / 2 / 4 / 3;
    }

    .bloc-right {
      grid-area: 4 / 2 / 5 / 3;
    }
    .img-grid-2 {
      grid-area: 5 / 2 / 6 / 3;
    }

    .bloc-3 {
      grid-area: 6 / 2 / 7 / 3;
    }
    .img-grid-3 {
      grid-area: 7 / 2 / 8 / 3;
    }

    .bloc {
      height: 100%;
      margin-bottom: 0px;
    }

    .img-grid {
      position: static;
      width: 600px;
      height: 750px;
      perspective: 600px;
      perspective-origin: bottom 100px;
    }

    .img-grid-1,
    .img-grid-3 {
      top: 0px;
      left: 0px;
    }
    .img-grid-2 {
      top: 0px;
      left: 0px;
    }

    .bloc-left {
      left: 0px;
    }

    .bloc-right {
      right: 0px;
    }

    .bloc-txt-left {
      width: 100%;
      height: 100%;
    }

    .bloc-txt-left h3,
    .bloc-txt-right h3 {
      text-align: center;
    }

    .bloc-txt-left p,
    .bloc-txt-right p {
      font-size: 20px;
      line-height: 1.8;
      padding: 15px;
    }

    .bloc button {
      font-size: 20px;
      padding: 15px 30px;
      margin-bottom: 30px;
    }

    .bloc-txt-right {
      position: static;
      width: 100%;
      height: 100%;
    }
  }

  @media screen and (max-width: 600px) {
    .section-asymetrique {
      grid-template: 120px repeat(6, auto) 1px / 100%;
    }

    .section-asymetrique2 {
      grid-template: 1px repeat(6, auto) 50px / 100%;
    }

    .ligne-gauche,
    .ligne-droite {
      display: none;
    }

    .section-asymetrique h2 {
      font-size: 1.2rem;
    }

    .bloc,
    .img-grid {
      grid-area: auto;
    }

    .img-grid {
      width: 100%;
      height: 500px;
    }

    .bloc-txt-left h3,
    .bloc-txt-right h3 {
      font-size: 25px;
    }

    .bloc-txt-right {
      width: 100%;
    }
  }

  //     /*-------- Section Parallax ----------*/

  //     .parallax {
  //     width: 100%;
  //     height: 300px;
  //     background: url(ressources/parallax-large-flou.jpg);
  //     background-position: center;
  //     background-attachment: fixed;
  //     display: flex;
  //     justify-content: center;
  //     align-items: center;
  //     flex-direction: column;
  //     }
  //     .parallax p {
  //     font-size: 65px;
  //     color: #fff;
  //     }
  //     .parallax span {
  //     display: block;
  //     font-size: 25px;
  //     color: #fff;
  //     }

  //     @media screen and (max-width: 400px) {
  //     .parallax p {
  //         font-size: 55px;
  //     }
  //     }

  //     /* ------------ Section Tarifs ------------ */

  //     .section-tarifs {
  //     padding-bottom: 150px;
  //     border-bottom: 1px dashed #333;
  //     }
  //     .section-tarifs h3 {
  //     text-align: center;
  //     color:#fff;
  //     font-size: 45px;
  //     margin: 120px 0 20px;
  //     padding: 0 30px;
  //     }
  //     .section-tarifs hr {
  //     width: 200px;
  //     margin: 20px auto 100px;
  //     }

  //     .container-tarifs {
  //     display: flex;
  //     justify-content: center;
  //     flex-wrap: wrap;
  //     }
  //     .cartes-tarifs {
  //     width: 350px;
  //     height: auto;
  //     border-radius: 5px;
  //     margin: 15px 15px;
  //     cursor: pointer;
  //     box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  //     transition: all 0.2s ease-in-out;
  //     position: relative;
  //     }
  //     .cartes-tarifs:hover {
  //     transform: translateY(-5px)
  //     }

  //     .cartes-tarifs h4 {
  //     text-align: center;
  //     padding: 25px 20px;
  //     font-size: 35px;
  //     clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
  //     background: #f2839a;
  //     }
  //     .cartes-tarifs span {
  //     display: block;
  //     text-align: center;
  //     padding: 15px;
  //     font-size: 25px;
  //     font-weight: bold;
  //     }
  //     .cartes-tarifs:nth-child(2) h4 {
  //     background: #ff5073;
  //     }
  //     .cartes-tarifs:nth-child(3) h4 {
  //     background: #ff0033;
  //     }

  //     .cartes-tarifs p {
  //     font-size: 18px;
  //     padding: 20px 10px;
  //     border-top: 1px solid rgb(194,197,194);
  //     }
  //     .cartes-tarifs p:last-of-type{
  //     border-bottom: 1px solid rgb(194,197,194);
  //     }
  //     .cartes-tarifs p:nth-child(odd) {
  //     background: rgba(195,195,195,0.219);
  //     }

  //     .cartes-tarifs a {
  //     display: block;
  //     text-decoration: none;
  //     border: 1px solid #333;
  //     text-align: center;
  //     width: 200px;
  //     height: 50px;
  //     border-radius: 9999px;
  //     color: #fff;
  //     font-size: 18px;
  //     line-height: 50px;
  //     margin: 20px auto;
  //     transition: all 0.2s ease-in-out;
  //     }
  //     .cartes-tarifs a:hover {
  //     background: #333;
  //     color: #f1f1f1;
  //     }

  //     @media screen and (max-width: 900px) {
  //     .section-tarifs h3 {
  //         font-size: 35px;
  //         margin: 80px 0 80px;
  //     }
  //     }
  //     @media screen and (max-width: 425px) {
  //     .section-tarifs h3 {
  //         font-size: 30px;
  //         padding: 0 10px;
  //         margin: 50px 0;
  //     }
  //     .section-tarifs hr {
  //         width: 200px;
  //         margin: 20px auto 20px;
  //     }

  //     }
}

.box_imgProjet {
  height: 100%;
  width: 100%;
  position: relative;
}
.img-grid {
  // background-color: #fff;
  // background-color: rgba(0,0,0,0.7);
  // // background-color: rgba(255,255,255,0.8);
  background: linear-gradient(
    to right,
    rgba(163, 97, 84, 0.6) 0%,
    rgba(214, 131, 114, 0.8) 100%
  );
  background: linear-gradient(
    to right,
    rgb(219 153 140 / 35%) 0%,
    rgb(110 63 63 / 36%) 100%
  );
  border: 5px solid rgb(122, 49, 35);
  border: 5px solid #db8876;
  border: 4px solid #c2634e;
  border: 4px solid rgb(145 116 110);
  // width: 300px;
  // perspective: 300px;
  @include devices(small-pc) {
    background: none;
    border: none;
  }
}
.bloc {
  &::after {
    content: '';
    background-color: #bab9b1;
    background-color: rgba(192, 119, 104);
    background-color: rgb(168 101 99);
    background-color: rgb(26 66 11);
    background-color: rgb(68 75 86);
    position: absolute;
    top: 13px;
    right: -20px;
    height: 100%;
    width: 20px;
    transform: skewy(50deg);
  }

  &::before {
    content: '';
    background-color: #5e5a4c;
    background-color: rgba(120, 76, 67);
    background-color: rgb(19 58 11);
    background-color: rgb(41 44 55);
    position: absolute;
    bottom: -20px;
    left: 12px;
    height: 20px;
    width: 100%;
    transform: skewX(50deg);
  }
}

@media only screen and (max-width: 830px) {
  .img-grid {
    background-color: transparent;
  }
  .bloc {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }
}

#imgProjet4_2,
#imgProjet_2,
#imgProjet3_2,
#imgProjet7_2 {
  border-top: 1px solid rgb(117, 114, 114);
  border-left: 1px solid rgb(133, 131, 131);
  position: absolute;
  bottom: 0;
  right: 0;
  @include devices(small-pc) {
    right: 12px;
  }
  img {
    width: 100%;
  }
}

#imgProjet4_2 {
  width: 220px;
}

#imgProjet_2 {
  width: 240px;
}

#imgProjet3_2 {
  width: 300px;
}

#imgProjet7_2 {
  width: 300px;
}

#imgProjet6_3 {
  border-top: 1px solid rgb(132, 130, 130);
  border-right: 1px solid rgb(139, 137, 137);
  position: absolute;
  width: 200px;
  left: 0;
  bottom: 0;
  @include devices(small-pc) {
    left: 12px;
  }
  img {
    width: 100%;
  }
}

.box_imgProjet2 {
  height: 90%;
  img {
    object-fit: cover;

    height: 90%;
  }
}
